@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Dangrek&family=Fredoka+One&family=Nunito+Sans:wght@600&family=Open+Sans:wght@400;500;600&family=Prompt:wght@300&family=Roboto&family=Rubik&family=Source+Sans+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(94 7 104);
}

.container{
    display: grid;
    place-items: center;
    width: 250px;
    padding: 60px 0 40px;
    border-radius: 30px;
    background: rgb(251, 221, 254);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.dice{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 1s ease;
}

@keyframes rolling {
    50%{
        transform: rotateX(455deg) rotateY(455deg);
    }
}

.face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #f4f0f6;
    transform-style: preserve-3d;
    background: linear-gradient(145deg, #dbd8dd, rgb(255, 255, 255));
}

.face::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #f4f0f6;
    transform: translateZ(-1px);
}

.face::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #131013;
}

.front{
    transform: translateZ(50px);
}

.back{
    transform: rotateX(180deg) translateZ(50px);
}

.top{
    transform: rotateX(90deg) translateZ(50px);
}

.bottom{
    transform: rotateX(-90deg) translateZ(50px);
}

.right{
    transform: rotateY(90deg) translateZ(50px);
}

.left{
    transform: rotateY(-90deg) translateZ(50px);
}

.front::after{
    width: 30px;
    height: 30px;
    background: red;
    margin: -15px 0 0 -15px;
}

.back::after{
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.top::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 40px;
}

.bottom::after{
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}

.right::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
                0 40px,
                40px 40px;
}

.left::after{
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}

.roll{
    color: rgb(94 7 104);
    cursor: pointer;
    margin-top: 60px;
    border-radius: 3px;
    font: 800 18px 'Fredoka One';
    padding: 8px 12px;
    border: 2px solid rgb(94 7 104);
    transition: .4s;
}

.roll:hover{
    color: rgb(255, 255, 255);
    background: rgb(94 7 104);
}